/* Global Styles */
body {
    background-color: #000000;
    color: Red;
    font-family: Garamond, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: #808080;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Sections */
section {
    padding: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

section h2 {
    margin-top: 0;
}

/* Team Members */
#team-members {
    background-color: #FF0000;
}

.member {
    margin-bottom: 20px;
}

/* Footer */
footer {
    background-color: #8B0000;
    text-align: center;
    padding: 15px;
    font-size: 0.9em;
}


